// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import "./transition.scss";
@import "./svgicon.scss";

/* Global scss */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
}

div:focus {
    outline: none;
}

.clearfix {
    @include clearfix;
}

label {
    font-weight: 700;
}

.app-container {
    padding: 20px;
}

.components-container {
    position: relative;
    margin: 30px 50px;
}

// Refine element ui upload
.upload-container {
    .el-upload {
        width: 100%;

        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

aside {
    font-size: 16px;
    line-height: 32px;
    display: block;
    margin-bottom: 20px;
    padding: 8px 24px;
    color: #2C3E50;
    border-radius: 2px;
    background: #EEF1F6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        cursor: pointer;
        color: #337AB7;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.fixed-width {
    .el-button--mini {
        min-width: 60px;
        padding: 7px 10px;
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        margin-bottom: 10px;
        vertical-align: middle;
    }
}

.link-type,
.link-type:focus {
    cursor: pointer;
    color: #337AB7;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.status-col {
    .cell {
        padding: 0 10px;
        text-align: center;
    }
}

.text-center {
    text-align: center
}

.sub-navbar {
    line-height: 50px;
    position: relative;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    transition: 600ms ease position;
    text-align: right;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #FFFFFF;
    }

    &.draft {
        background: #D0D0D0;
    }

    &.deleted {
        background: #D0D0D0;
    }
}

.no-padding {
    padding: 0px !important;
}
